* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  width: 80%;
  height: 80px;
  border-bottom: 1px solid #bdb5af;
}

.navbar .navbar-left,
.navbar .navbar-right {
  float: left;
  height: 100%;
}

.navbar .navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.navbar .navbar-right {
  width: 40%;
}

.navbar .navbar-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .navbar-right ul li {
  list-style: none;
}

.navbar .navbar-right ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #58402c;
  font-weight: 700;
}

.navbar .navbar-right ul li a:first-child i {
  margin-left: 3px;
}

.navbar .navbar-right ul li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #30488f;
  border-radius: 7px;
  cursor: pointer;
}

.navbar .navbar-right ul li:last-child a {
  color: #30488f;
}

.navbar .navbar-right ul li:last-child img {
  width: 20px;
  margin-right: 5px;
}

